.Navbar{
    box-sizing: border-box;
    background-color: #ff9b19;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 52px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    &>nav{
        height: 100%;
    }
}

.displayNoneNav{
    @media (max-width:499px){
        display: none;
    }
}
 