.Auth{
    text-align: center;
    width: 90%;
    margin: 30px auto;
    padding: 20px 0  ;
    box-shadow: 2px 2px 6px #ccc;
    @media (min-width: 500px){
        width: 50%;
    }
    & h1{
        background-color: #ff9b19;
        padding: 10px 0;
    }
    & .Alert{
        color: crimson;
        font-style: italic;
    }
}