@font-face {
  font-family: neofont;
  src: url('./asset/font/Quicksand-VariableFont_wght.ttf')
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  neoFont;
  font-size: 17px;
}

 